*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/distribution
/gen-libs/build
/gen-libs/src/main/cpp/opencv/src
/gen-libs/src/main/cpp/opencv/download
/gen-libs/src/main/cpp/opencv/opencv_contrib
/gen-libs/src/main/cpp/opencv/intermediates
/gen-libs/src/main/cpp/tensorflow/download
/gen-libs/src/main/cpp/openblas/src
/gen-libs/src/main/cpp/openblas/intermediates
/gen-libs/src/main/cpp/openblas/toolchains
/app/build
/app/src/main/assets
/opencv/build
/downloader/build
/licensing/build
*.swp
