*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/distribution/opencv
/distribution/tensorflow
/gen-libs/build
/gen-libs/src/main/cpp/opencv/src
/gen-libs/src/main/cpp/opencv/tmp
/gen-libs/src/main/cpp/tensorflow/src
