*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/distribution/opencv
/distribution/tensorflow
/gen-libs/build
/gen-libs/src/main/cpp/opencv/src
/gen-libs/src/main/cpp/opencv/arm64-v8a
/gen-libs/src/main/cpp/opencv/armeabi-v7a
/gen-libs/src/main/cpp/opencv/x86
/gen-libs/src/main/cpp/opencv/x86_64
/gen-libs/src/main/cpp/tensorflow/src
/app/build
/app/src/main/assets
*.swp
